@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  width: 100%;
}

h1 {
  display: inline;
  line-height: 1.5rem;
}

h2 {
  padding: 0;
  margin: 0;
  letter-spacing: '0.2rem'
}

.App {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 40rem;
  font-family: 'Poppins';
  letter-spacing: 1.5px;
  padding-top: 1.5rem;
}